@model ClientGraph.Models.ClientModel

@{
    ViewBag.Title = "Client Details";
}

<h2>Client Details</h2>

<div>
    <hr />
    <h4>Details</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>
    </dl>
</div>

<div>
    <hr />
    <h4>Versions</h4>
    <hr/>
    <table class="table">
        <tr>
            <th>
                Version Number
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Versions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VersionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>
                <td>
                    @Html.ActionLink("Restore", "RestoreVersion", new { id = item.VersionId })
                </td>
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
